/* VSCode UI naming: https://code.visualstudio.com/assets/docs/getstarted/userinterface/hero.png */
/* Documentation: https://code.visualstudio.com/docs/getstarted/userinterface */

/* .windows {
  font-family: "Fira Code" !important;
} */

/* Scroll Bar */
.slider {
  background: #323a61 !important;
}

/* Command panel (Ctrl + Shift + P) */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  padding: 10px 10px 18px 10px !important;
  box-shadow: none;
  border-radius: 8px !important;
  border: 1px solid rgba(255, 255, 255, 0.123) !important;

  font-family: "Fira Code" !important;
}

.active {
  border: none;
  background-color: rgba(255, 255, 255, 0.07);
}

/* --- MENU BAR (Not worked)--- */
/* .titlebar-left {
  font-family: "Fira Code" !important;
} */

/* --- FILE EXPLORER (Not worked) --- */
/* .content {
  font-family: "Fira Code" !important;
} */

/* Default Window with no opened files (Close all files) */
.editor-group-watermark {
  max-width: auto !important;
}

.command-center-center {
  width: auto !important;
}

.letterpress {
  background-repeat: no-repeat no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 60% !important;
}

/* Primary & Secondary Side bar */
/* .pane-body {
  font-family: "Fira Code" !important;
} */
